/* some style */


.big {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}


html,body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}


.hoverable {
     opacity: 1;
}

.hoverable:hover {
     opacity: 0.5;
}
